.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #4200FF;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    color: #fff;
}